* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam", sans-serif;
}

a {
  text-decoration: none;
  color: initial;
}

ul {
  list-style: none;
}

@keyframes slideshow {
  0% {
    transform: translateX(0px);
  }
  2% {
    transform: translateX(-510px);
  }
  25% {
    transform: translateX(-510px);
  }
  27% {
    transform: translateX(-1020px);
  }
  50% {
    transform: translateX(-1020px);
  }
  52% {
    transform: translateX(-1530px);
  }
  75% {
    transform: translateX(-1530px);
  }
  77% {
    transform: translateX(-2040px);
  }
  100% {
    transform: translateX(-2040px);
  }
}

.mobile {
  display: none;
}

.top .header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 3.5rem 1rem;
}

.top .header__logo {
  z-index: 3;
}

.top .header__nav ul {
  display: flex;
}

.top .header__nav ul li {
  margin: 0 0.75rem;
  font-size: 0.7rem;
  font-weight: 700;
  cursor: pointer;
  padding: 0.2rem;
  transition: all ease-in-out 0.1s;
}

.top .header__nav ul li:hover {
  opacity: 0.5;
}

.top .header__btn {
  border: none;
  outline: none;
  padding: 0.6rem 1.5rem;
  border-radius: 30px;
  background-color: #f25f3a;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 1px 10px 10px 0px rgba(242, 95, 58, 0.4);
}

.top .hero {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 3rem;
  padding-top: 2.5rem;
  width: 100%;
  padding-left: 4rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.top .hero__image {
  flex: 0.4;
  object-fit: contain;
  max-width: 550px;
  width: 500px;
  position: relative;
}

.top .hero__text {
  margin-right: 5rem;
}

.top .hero__text h1 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.1;
  color: #1d1e25;
}

.top .hero__text p {
  font-size: 0.9rem;
  margin: 2rem 0;
  width: 70%;
  margin-right: auto;
  color: #9095a7;
}

.top .hero__text button {
  border: none;
  outline: none;
  padding: 0.6rem 1.5rem;
  border-radius: 30px;
  background-color: #f25f3a;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 1px 10px 10px 0px rgba(242, 95, 58, 0.4);
  padding: 0.65rem 2rem;
}

.bottom .features {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 3rem;
  display: flex;
  padding-top: 5rem;
}

.bottom .features__intro {
  margin-right: 5rem;
}

.bottom .features__intro h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.1;
  color: #1d1e25;
}

.bottom .features__intro p {
  font-size: 0.8rem;
  margin: 1.6rem 0;
  width: 75%;
  margin-right: auto;
  color: #9095a7;
}

.bottom .features__list .feature {
  margin-bottom: 3rem;
  padding-right: 2rem;
}

.bottom .features__list .feature__header {
  display: flex;
  align-items: center;
  margin-bottom: 0.6rem;
}

.bottom .features__list .feature__header span {
  border: none;
  outline: none;
  padding: 0.6rem 1.5rem;
  border-radius: 30px;
  background-color: #f25f3a;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 1px 10px 10px 0px rgba(242, 95, 58, 0.4);
  box-shadow: none;
  padding: 0.5rem 1.2rem;
  font-size: 0.75rem;
  width: 52px;
  height: 33px;
  margin-right: 1.2rem;
}

.bottom .features__list .feature p {
  padding-left: calc(52px + 1.2rem);
  font-size: 0.8rem;
  color: #9095a7;
}

.bottom .testimonials {
  text-align: center;
  width: 100%;
  padding: 4rem 0;
  overflow: hidden;
}

.bottom .testimonials h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 4rem;
  color: #1d1e25;
}

.bottom .testimonials__slider {
  display: flex;
  padding: 2.5rem 0;
  transform: translate3d(0, 0, 0);
  margin-left: calc((100vw - 1530px) / 2);
  animation: slideshow 15s linear infinite;
}

.bottom .testimonials__slider:hover {
  animation-play-state: paused;
}

.bottom .testimonials__slider .card {
  margin-right: 20px;
  background-color: #fafafa;
  padding: 3rem 2rem 1.5rem;
  position: relative;
  min-width: 490px;
}

.bottom .testimonials__slider .card img {
  position: absolute;
  object-fit: contain;
  width: 55px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom .testimonials__slider .card h4 {
  font-size: 0.8rem;
  color: #1d1e25;
  margin-bottom: 1.2rem;
  font-weight: 700;
}

.bottom .testimonials__slider .card P {
  font-size: 0.8rem;
  color: #9095a7;
}

.bottom .testimonials button {
  border: none;
  outline: none;
  padding: 0.6rem 1.5rem;
  border-radius: 30px;
  background-color: #f25f3a;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 1px 10px 10px 0px rgba(242, 95, 58, 0.4);
}

.banner {
  width: 100%;
  padding: 3.5rem 3rem;
  background-color: #f25f3a;
  color: white;
  position: relative;
  overflow: hidden;
}

.banner__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 3rem;
  max-width: 1000px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg-simplify-section-desktop.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  transform: rotate(180deg);
}

.banner__container h2 {
  font-size: 2.1rem;
  max-width: 450px;
  line-height: 1.1;
}

.banner__container button {
  border: none;
  outline: none;
  padding: 0.6rem 1.5rem;
  border-radius: 30px;
  background-color: #f25f3a;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 1px 10px 10px 0px rgba(242, 95, 58, 0.4);
  color: #f25f3a;
  background-color: white;
}

.footer {
  width: 100%;
  padding: 3.5rem 2rem;
  background-color: #1d1e25;
  color: white;
}

.footer__main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 3rem;
  max-width: 1000px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 2rem;
}

.footer__main .footer__logo {
  margin-right: 2rem;
  min-height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__main .footer__logo .footer__links {
  display: flex;
}

.footer__main .footer__logo .footer__links li {
  margin-right: 0.6rem;
  transition: all ease-in-out 0.1s;
}

.footer__main .footer__logo .footer__links li:hover {
  opacity: 0.5;
}

.footer__main .footer__input {
  display: flex;
}

.footer__main .footer__input input {
  flex: 1;
  padding: 1rem 1.2rem;
  height: 36px;
  border: none;
  outline: none;
  border-radius: 50px;
  margin-right: 8px;
}

.footer__main .footer__input button {
  border: none;
  outline: none;
  padding: 0.6rem 1.5rem;
  border-radius: 30px;
  background-color: #f25f3a;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 1px 10px 10px 0px rgba(242, 95, 58, 0.4);
  box-shadow: none;
  height: 36px;
}

.footer__list {
  display: flex;
  flex: 0.5;
  justify-content: space-between;
}

.footer__list ul {
  margin-right: 2rem;
}

.footer__list li {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  transition: all ease-in-out 0.1s;
}

.footer__list li:hover {
  opacity: 0.5;
}

.footer .attribution p a {
  color: white;
}

.footer .attribution p a svg {
  width: 65px;
  margin-bottom: -8px;
  fill: white;
}

.footer .attribution p a svg:hover {
  fill: #f25f3a;
}

@media screen and (max-width: 1000px) {
  .top .hero__image {
    width: 400px;
  }
}

@media screen and (max-width: 840px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: initial;
  }
  .top {
    padding-bottom: 3rem;
  }
  .top .header {
    padding: 1.5rem;
  }
  .top .header__logo {
    width: 100px;
  }
  .top .header .navBtn {
    z-index: 3;
    position: relative;
  }
  .top .header .navBtn .close {
    display: none;
  }
  .top .header__nav {
    display: none;
    position: absolute;
    top: 0%;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 5rem;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(29, 30, 37, 0.7));
    z-index: 2;
  }
  .top .header__nav ul {
    width: 80%;
    margin: 0 auto;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    text-align: center;
    justify-content: center;
    border-radius: 4px;
  }
  .top .header__nav ul li {
    font-size: 0.75rem;
    padding: 0.2rem;
    margin: 0 auto 0.8rem;
    width: fit-content;
  }
  .top .hero {
    padding: 2rem 1rem;
    flex-direction: column;
    text-align: center;
  }
  .top .hero__image {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 3rem;
  }
  .top .hero__text {
    margin: 0;
    padding: 0;
  }
  .top .hero__text h1 {
    font-size: 2.2rem;
  }
  .top .hero__text p {
    font-size: 0.8rem;
    width: 100%;
    padding: 0 1.5rem;
    margin: 0.8rem 0 1.2rem;
  }
  .bottom .features {
    padding-top: 0.5rem;
    flex-direction: column;
    text-align: center;
  }
  .bottom .features__intro {
    margin-right: 0;
  }
  .bottom .features__intro p {
    width: 100%;
    padding: 0 1rem;
  }
}
/*# sourceMappingURL=main.css.map */